.contact .container--flex {
    align-items: flex-start;
}

.contact-information {
    padding: 10px;
    padding-top: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #DE423A;
}

.contact-information .column__title {
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

.contact-information [class*="icon-"] {
    font-size: 1.3em;
    margin-right: 7px;
    position: relative;
    top: 5px;
}

.contact-information .social-icon {
    justify-content: flex-start;
    margin-bottom: 10px;
}

.contact-information .social-icon [class*="icon-"] {
    background: black;
    color: #fff;
    margin-left: 0;
    margin-right: 15px;
}

.social-icon .icon-facebook:hover {
    background: #0084ff;
    color: #fff;
    transform: scale(1.05);
}

.social-icon .icon-instagram:hover {
    background: linear-gradient(#F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    color: #fff;
    transform: scale(1.05);
}

.social-icon .icon-twitter:hover {
    background: #55acee;
    color: #fff;
    transform: scale(1.05);
}

.social-icon .icon-mail:hover {
    background: #bd081c;
    color: #fff;
    transform: scale(1.05);
}

.formulario {
    padding: 10px;
    padding-top: 0;
    margin-top: 20px;
}

.formulario__label,
.formulario__input-txt,
.formulario__label-textarea,
.formulario__textarea {
    display: block;
    width: 100%;
    letter-spacing: 1px;
}

.formulario__label-textarea {
    padding: 5px;
    padding-left: 15px;
    margin-top: -20px;
}

.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -64px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9em;
    /*Anima*/
    transition: all 0.2s;
}

.formulario__input-txt {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 35px;
    font-size: 1em;
}

.formulario__textarea {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    min-height: 100px;
    max-width: 200px;
    min-width: 100%;
    min-width: 100%;
    font-family: Verdana;
    font-size: 1em;
}

.formulario__btn {
    border: none;
    cursor: pointer;
    font-size: 1em;
}


/*animacion*/

.formulario__input-txt:focus+.formulario__label {
    margin-top: -100px;
}


/*js*/

.fijar {
    margin-top: -100px;
}

@media screen and (min-width:480px) {
    .contact-information p {
        font-size: 0.8em;
    }
    .contact-information {
        border-right: 1px solid #DE423A;
        border-bottom: none;
    }
}

@media screen and (min-width:768px) {
    .contact-information p {
        font-size: 1em;
    }
    .contact-information .column__title {
        font-size: 1.5em;
    }
}